---
layout: default
---

<a href="stream.html"><h1 class="page-heading">Watch Live Here?</h1></a>


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <a href="https://www.twitch.tv/cursedmoose"><p>Or go directly to Twitch</p></a>


  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Recent Activity" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- assign long_date = "%a, %b %d, %Y at %H:%M" -%}

        <span class="post-meta" title="{{post.date | date: long_date }}">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {%- if post.category == "reward" -%}
                {{post.author}} claimed "{{ post.reward | escape }}"
                <div>
                  <span class="post-meta">a huge waste of {{post.cost}} sweet rolls</span>
                </div>
            {% elsif post.category == "painting" %}
                [{{post.author | capitalize }}]: {{post.reward | escape}}
            {% elsif post.category == "commemoration" %}
                Remembering {{post.reward | escape}}
            {% else %}
                [Blog] {{post.title | escape}}
            {%- endif -%}
          </a>
        </h3>
        <img src="{{post.image}}" width="100" />

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>