---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">"{{ page.reward | escape }}"</h1>
    <p class="post-meta">
      {%- if page.author -%}
        {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">Created by 
                <a href="/{{author}}">{{ author | capitalize  }}</a>
            </span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        on {{ page.date | date: date_format }}
      </time>
    </p>
      
  </header>

  {{ content }}

  <div class="post-content e-content" itemprop="articleBody">
    <img src="{{page.image | escape}}" alt="{{page.reward}}" />
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>